@import "tailwindcss";

@font-face {
  font-family: roborto;
  src: url(assets/font/roborto.ttf);
}

/* Add this to your global CSS */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Smooth scrolling for the carousel */
.scrollbar-hide {
  scroll-behavior: smooth;
}
